# MongoDB
MONGO_URI=mongodb://mongodb:27017/yare-io

# Discord webhooks
DISCORD_WEBHOOK_NEW_MATCH=
DISCORD_WEBHOOK_QUEUE=

# S3 / MinIO object storage
S3_KEY=minioadmin
S3_SECRET=minioadmin
S3_BUCKET=yare-io-replays
S3_ENDPOINT=http://minio:9000
S3_BUCKET_ENDPOINT=false

# Frontend
FRONTEND_ADDRESS=http://frontend:5000
