@media (max-width: 1460px) {
	#editor_container {
		width: 620px;
	}
	
	#tutorial {
		width: 580px;
	}
	
	p.tutorial_text {
		font-size: 20px;
		font-weight: 500;
		color: rgba(242, 246, 250, 0.86);
		line-height: 32px;
		width: 560px; /* 560px macbook */
		margin-top: 22px;
	}
	
	.tut_label {
		line-height: 24px;
		font-size: 18px;
	}
	
	#panel {
		width: 620px;
	}	
}


@media (max-width: 1200px) {
	#doc_content {
		width: 90%;
		margin-left: 5%;
	}
	
	.row_in {
		width: 90%;
		margin-left: 5%;
	}
	
	#newgame_wrap {
		width: 80%;
		margin-left: 10%;
	}
	
	.t_price {
		width: 140px;
	}
	
	.tournament_banner_date {
		display: none;
	}
	
}




@media (max-width: 880px) {
	
	
.mobile_only {
	display: block;
}
	
.desktop_only {
	display: none;
}	

#editor_container {
	background-color: transparent;
	backdrop-filter: blur(0px);
	height: calc(100% - 200px);
	width: 100%;
	/* position: fixed;
	top: 100px;
	left: 16px;
	transform-origin: left top;
    transform: translate(10vw, 50vh) scale(1.3);*/
	z-index: 1000;
}

#update_switch_wrapper {
	bottom: 20px;
	left: 20px;
	z-index: 2;
}

.update_switch_wrapper_real {
	bottom: 20px !important;
	left: 20px !important;
}


#update_code {
	width: calc(100% - 104px);
	height: 56px;
	background-color: #2a2e4e;
	line-height: 55px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	z-index: 2000;
	/*transform-origin: top left;
	transform: translate(10vw, -20vh);*/
}

#update_code span {
	font-size: 14px;
	font-weight: 500;
	color: #f4f6f8;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	padding-top: 1px;
}

#switch_view {
	width: 56px;
	height: 56px;
	line-height: 51px;
	background-color: #2a2e4e;
	border-radius: 12px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 2px solid rgba(6, 8, 10, 0);
	box-sizing: border-box;
}

.switch_ico {
	width: 52px;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.switch_switched {
	background-color: rgba(6, 8, 10, 0.89) !important;
	border: 2px solid rgba(90, 98, 148, 1) !important;
	
}

#get_in {
	display: none;
	color: #0f0;
}

input:focus {
	outline: none;
}

.par_highlight {
	color: rgba(242, 246, 250, 0.89);
}

	
/* ----- Header area ----- */

#hector {
	position: fixed;
	top: 0;
	z-index: 2000;
	width: 100%;
}

h1#logo {
	font-size: 16px;
	font-weight: 500;
	color: rgba(242, 246, 250, 1);
	margin-left: 24px;
	margin-top: 24px;
}

#logo a {
	color: rgba(242, 246, 250, 1);
}

.logo_lowlight, .resume_lowlight {
	color: rgba(242, 246, 250, 0.32) !important;
}

.menu {
	text-align: right;
	position: absolute;
	right: 0px;
	top: 12px;
}

.menu .menu_link {
	font-weight: 500;
	font-size: 14px;
	line-height: 44px;
	display: block;
	float: left;
	margin-left: 36px;
	cursor: pointer;
}

.menu_link {
	color: rgba(242, 246, 250, 0.69);
}

#profile_links {
	position: absolute;
	top: 12px;
	right: 40px;
	z-index: 20000;
	opacity: 0;
	pointer-events: none;
}

.profile_link {
	font-weight: 500;
	font-size: 14px;
	line-height: 44px;
	text-align: right;
	color: rgba(242, 246, 250, 1);
	cursor: pointer;
	display: block;
}

#log_out {
	color: rgba(242, 246, 250, 0.69);
}

.new_acc {
	color: rgba(169, 212, 255, 1);
}

#new_account_wrap, #login_wrap {
	color: rgba(242, 246, 250, 0.55);
	margin-left: 20px;
}

#new_account_wrap p {
	width: calc(100vw - 40px);
	line-height: 26px;
	font-size: 14px;
	font-weight: 500;
    margin-top: -8px;
    margin-bottom: 20px;
}

#new_acc_form, #login_form {
	z-index: 5;
}

#new_user_name, #new_user_password, #user_name, #user_password {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 68px;
	font-size: 16px;
	height: 66px;
	padding-top: 2px;
	padding-left: 28px;
	border: 0;
	border-radius: 8px;
	background-color: rgba(52, 49, 60, 0.55);
	color: rgba(242, 246, 250, 0.89);
	width: calc(100vw - 68px);
	display: block;
	margin-bottom: 12px;
}

#new_account, #signed_in {
	margin-left: 30px;
}

#new_user_name:focus, #new_user_password:focus, #user_name:focus, #user_password:focus {
	background-color: rgba(84, 80, 95, 0.55) !important;
}

#user_err_message, #password_err_message, #login_err_message {
	position: absolute;
	font-size: 14px;
	font-weight: 500;
	color: rgba(223, 163, 163, 0.69);
	opacity: 0;
}

#login_err_message {
	margin-top: 8px;
}

input[type=submit] {
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
	line-height: 48px;
	font-size: 20px;
	font-weight: 500;
	color: rgba(133, 186, 234, 1);
	border: none;
	cursor: pointer;
}

#loader_new_acc, #loader_login {
	width: 24px;
	height: 24px;
	display: block;
	background: url('./assets/loader.gif');
	background-size: cover;
	position: absolute;
	bottom: 11px;
	opacity: 0;
}

#signed_in {
	display: none;
}



/* ----- */


#panel {
	width: 100%;
	height: 100%;
	background-color: rgba(12, 10, 16, 0.96);
}

#grad_bottom {
	display: block;
}


/* ----- Game over ----- */

#game_over_block, #game_status_block {
	width: calc(100vw - 48px);
}

.game_table {
	width: calc(100vw - 68px);
}

#game_result {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 20px;
}

#tutorial_over, #over_message {
	width: 520px;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	color: rgba(242, 246, 250, 0.69);
	margin-bottom: 20px;
}

#over_message {
	font-size: 18px;
	width: calc(100vw - 68px);
	
}

.player_delta {
	right: -48px;
}


/* ----- */


/* ----- Tutorial ----- */

#tutorial {
	width: calc(100% - 24px);
	margin-left: 24px;
	margin-top: 120px;
	margin-bottom: 40px;
	position: relative;
	/* z-index: 2000;*/
}

#tutorial_wrap {
	/*transform-origin: top left;
	transform: translate(10vw, 20vh) scale(1.3);*/
}

p.tutorial_text {
	font-size: 20px; /* 20px macbook */
	font-weight: 500;
	color: rgba(242, 246, 250, 0.86);
	line-height: 32px;
	width: 90%; /* 560px macbook */
	margin-top: 32px;
}

.tut_label {
	position: relative;
}

#overlay, #overlay_start, #overlay_pre_start {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 10000;
	backdrop-filter: blur(0px);
	pointer-events: none;
}

#overlay_start {
	background-color: rgba(0, 0, 0, 1);
	z-index: 0;
}

#overlay_pre_start {
	background-color: rgba(0, 0, 0, 1);
	z-index: 9999;
}

#tutorial_infobox {
	position: fixed;
	top: 40px;
	left: 5%;
	width: calc(90% - 56px);
}

.bring_up {
	position: relative;
	z-index: 999999;
	color: rgba(250, 242, 255, 1);
}

.info_h {
	color: rgba(242, 246, 250, 0.92);
	line-height: 26px;
	margin-bottom: 8px;
}

.info_p {
	color: rgba(242, 246, 250, 0.69);
	line-height: 26px;
	margin-bottom: 16px;
}

.copy_code {
	font-size: 11px;
	letter-spacing: 2px;
	vertical-align: middle;
	cursor: pointer;
	box-sizing: border-box;
	padding: 4px 6px 4px 7px;
	margin-left: 4px;
	margin-right: 2px;
	border: 1px solid rgba(118, 127, 136, 0.48);
	color: rgba(118, 127, 136, 0.92);
	background-color:rgba(118, 127, 136, 0.12);
	border-radius: 8px;
	font-weight: 600;
	position: relative;
	z-index: 99999;
}

.copy_code:hover {
	border: 1px solid rgba(133, 141, 209, 0.55);
	color: rgba(178, 177, 206, 0.92);
	background-color: rgba(133, 141, 209, 0.12);
}


/* ----- */


/* ----- player hub & Leaderboard ----- */

#content_hub_wrap {
	width: 68%;
	margin-left: 24px;
	margin-top: 72vh;
	transform: translateY(-50%);
}

span#hub_username {
	font-size: 20px;
	font-weight: 500;
	color: rgba(242, 246, 250, 1);
}

span#user_hub_stats {
	font-size: 16px;
	color: rgba(242, 246, 250, 0.55);
	display: block;
	margin-top: 8px;
}

span#hub_logout {
	color: rgba(133, 186, 234, 0.69);
	cursor: pointer;
}

span#hub_logout:hover {
	color: rgba(159, 157, 232, 1);
}

#hub_menu {
	margin-top: 132px;
}

#hub_menu a {
	font-size: 32px;
	font-weight: 600;
	width: 320px;
	color: rgba(133, 186, 234, 1);
	display: block;
	line-height: 68px;
}

#hub_menu a:hover {
	color: rgba(253, 211, 180, 1);
}

#hub_menu #hub_documentation, #hub_menu #hub_leaderboard {
	color: rgba(133, 186, 234, 0.55);
}

#hub_menu #hub_documentation:hover, #hub_menu #hub_leaderboard:hover, #hub_menu #hub_reddit:hover {
	color: rgba(159, 157, 232, 1);
}

#hub_menu #hub_reddit {
	font-size: 20px;
	color: rgba(133, 186, 234, 0.55);
	line-height: 56px;
}

#hub_menu #hub_discord {
	font-size: 20px;
	color: rgba(133, 186, 234, 0.55);
	line-height: 56px;
}

#hub_resume_game {
	display: none;
}


#hub_resume_info {
	font-size: 20px;
	color: rgba(242, 246, 250, 0.55);
	padding-bottom: 20px;
	display: block;
}

#hub_resume_players {
	color: rgba(242, 246, 250, 0.82);
}

#hub_resume_resign {
	color: rgba(234, 133, 133, 1) !important;
	cursor: pointer;
}

#hub_resume_resign:hover {
	color: rgba(255, 13, 53, 1) !important;
}





.table {
	width: 100%;
	margin-top: -80px;
	padding-bottom: 100px;
	font-size: 16px;
	font-weight: 500;
	color: rgba(242, 246, 250, 0.69);
	position: absolute;
	top: 107vh;
}

.hub_table tr{
	width: 100%;
	height: 80px;
	position: relative;
}

.row {
	width: 100%;
	height: 80px;
	position: relative;
	border-bottom: 1px solid rgba(242, 246, 250, 0.12);
}

.t_leaderboard .row_in {
	display: block;
	position: relative;
}

.t_leaderboard .row_in span {
	display: block;
	float: left;
}

.table_game_date {
	width: 0px;
	display: none;
}

.table_game_players {
	width: 240px;
}

.table_player1, .table_player2 {
	color: rgba(242, 246, 250, 1);
}

.player1_shape, .player2_shape {
	display: none;
}

.table_game_duration {
	opacity: 0;
	width: 80px;
}

.table_game_result {
	width: 50px;
}

.result_win {
	color: rgba(133, 234, 143, 1);
}

.result_loss {
	color: rgba(234, 133, 133, 1);
}

.table_game_eloresult {
	text-align: right;
	width: 90px;
}

/* leaderboard */

.t_leaderboard {
	top: 44vh;
}

.lb_row {
	border-top: 1px solid rgba(242, 246, 250, 0.12);
}

.table_lb_rank {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 16px;
	left: 0;
}

.table_lb_player {
	position: absolute;
	top: 16px;
	left: 40px;
}

.table_lb_fav_shape {
	position: absolute;
	top: 46px;
	right: 0;
	margin-right: 0;
}

.table_lb_games {
	position: absolute;
	top: 46px;
	left: 40px;
	text-align: left;
	width: 120px;
}

.table_lb_winrate {
	position: absolute;
	top: 46px;
	left: 160px;
	text-align: left;
	width: 120px;
}

.table_lb_rating {
	position: absolute;
	top: 16px;
	right: 0;
	text-align: right;
}


/* ----- */

/* -- New game screen -- */


#newgame_wrap {
	width: 90%;
	margin-left: 5%;
	margin-top: 12vh;
}

#start_area {
	margin-top: 0;
	position: fixed;
	bottom: 20px;
	width: 90%;
}

#start_game_btn, #cancel_game_btn {
	width: 100%;
	padding: 0;
	text-align: center;
	height: 56px;
	line-height: 55px;
}

span.game_or, span.cancel_or {
	display: none;
}

#challenge_friend_btn {
	width: 100%;
	text-align: center;
	padding: 0;
	color: rgba(242, 246, 250, 0.69);
	height: 40px;
	line-height: 40px;
	margin-top: 16px;
}

.shape_block {
	float: none;
	width: 100%;
	height: 72px;
	margin-bottom: 8px;
}

span.shape_name {
	font-size: 20px;
}


/* ----- */

/* -- Documentation -- */

#doc_sections {
	display: none;
}

#doc_content {
	overflow-x: hidden;
}

#doc_content section {
	padding-top: 16vh;
}

.h_sec_head {
	font-size: 36px;
	margin-bottom: 24px;
}

.p_sec_intro {
	clear: both;
	width: calc(100% - 24px);
	margin-left: 0;
	transform: none;
}

.sep_medium {
	height: 30px;
}


.side_side {
	width: calc(100% - 56px);
	clear: both;
	margin-bottom: 12px;
}

.side_adj {
	margin-left: 0;
}

p.p_normal {
	max-width: 100% !important;
}

p.p_somewhat_important {
	max-width: 100% !important;
	font-size: 16px;
	line-height: 28px;
}

.shapo {
	display: none;
}

.row_in_doc_head span.table_doc_method {
    width: 24%;
}

.table_doc_method {
	width: 24%;
}

.table_doc_argument {
	width: 36%;
	display: none;
}

.g_con {
	margin-left: 16px;
}

/* index stuff */

#index_intro {
	margin-top: calc(60px + 8vh);
	width: calc(100% - 48px);
	margin-left: 26px;
	font-size: 26px;
	font-weight: 500;
	line-height: 38px;
	color: rgba(242, 246, 250, 1);
}

#trailer_block {
	width: calc(100% - 48px);
	height: 300px;
	margin-left: 24px;
	background-color: rgba(30, 28, 36, 1);
}

#gallery_block {
	width: calc(100% - 24px);
	height: 468px;
	padding-left: 24px;
	overflow: scroll;
}

#gallery_block_in {
	width: 1700px;
	height: 400px;
}

.gal_el {
	height: 400px;
	display: inline-block;
	position: relative;
	margin-right: 8px;
}

.gal_el img {
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
}

.img_description {
	position: absolute;
	top: 416px;
	left: 0;
	color: rgba(76, 85, 108, 1);
	font-weight: 500;
}

#gal_img1 {
	width: 400px;
	height: 400px;
	/* background: url(./asset/gal1.png);
	background-size: cover; */
}

#gal_img2 {
	width: 400px;
	height: 400px;
	/* background: url(./asset/gal2.png);
	background-size: cover; */
}

#gal_img3 {
	width: 200px;
	height: 400px;
	/* background: url(./asset/gal3.png);
	background-size: cover; */
}

#gal_img4 {
	width: 600px;
	height: 400px;
	/* background: url(./asset/gal4.png);
	background-size: cover; */
}

.index_sep_line {
	width: calc(100% - 48px);
	margin-left: 24px;
	height: 1px;
	clear: both;
	background-color: rgba(242, 246, 250, 0.2);
	margin-top: 40px;
	margin-bottom: 44px;
}

.sep_line_full {
	width: 100%;
	height: 1px;
	clear: both;
	background-color: rgba(242, 246, 250, 0.2);
	margin-top: 40px;
	margin-bottom: 44px;
}

.index_spacer_large {
	height: calc(40px + 5vh);
	clear: both;
}

.index_spacer_medium {
	height: calc(12px + 5vh);
	clear: both;
}

.index_spacer_small {
	height: calc(4px + 4vh);
	clear: both;
}

.index_head, .index_head_trailer {
	margin-bottom: 24px;
	margin-left: 24px;
	font-size: 13px;
	color: rgba(242, 246, 250, 0.55);
	letter-spacing: 1px;
	font-weight: 400;
}

.action_head {
	margin-bottom: 20px;
	margin-left: 0px;
	font-size: 13px;
	color: rgba(242, 246, 250, 0.55);
	letter-spacing: 1px;
	font-weight: 400;
}

.action_block {
	width: 90%;
	margin-left: 24px;
	position: relative;
	cursor: pointer;
}

.action_desc {
	font-size: 28px;
	font-weight: 500;
	line-height: 40px;
	max-width: 90%;
	color: rgba(133, 186, 234, 1);
}

#action_start_playing .action_desc {
	color: rgba(128, 140, 255, 1);
}

.action_block:hover .action_desc {
	color: rgba(253, 211, 180, 1) !important;
}

.action_block:hover .ico_arrow {
	background: url('./asset/ico_long_arr_gold.png') no-repeat scroll;
	background-size: cover;
}

.ico_arrow {
	width: 150px;
	height: 20px;
	background-color: #023;
	position: absolute;
	top: 50%;
	right: 0;
	display: none;
}

.arrow_tut {
	background: url('./asset/ico_long_arr_blue.png') no-repeat scroll;
	background-size: cover;
}

.arrow_start_playing {
	background: url('./asset/ico_long_arr_purp.png') no-repeat scroll;
	background-size: cover;
}

.index_outro {
	margin-left: 24px;
	width: calc(100% - 48px);
}

h2.index_he {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}

.index_outro p {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	color: rgba(242, 246, 250, 0.69);
	margin-top: 52px;
}

a.index_link {
	margin-top: 0px;
	font-size: 24px;
	line-height: 68px;
	font-weight: 500;
	display: block;
	max-width: 400px;
}

a.index_link:hover {
	color: rgba(159, 157, 232, 1);
}

/* ----- */

/* -- */

h1.page_head {
	margin-left: 24px;
	margin-top: 16vh;
}

#early_access {
	width: calc(100vw - 80px);
}



/* -- tournament -- */

ul.no_bullet li {
	position: relative;
	display: block;
	font-size: 20px;
	line-height: 36px;
	font-weight: 500;
	max-width: 86%;
	margin-bottom: 8px;
}

.bullet {
	position: absolute;
	left: -28px;
	opacity: 0.69;
}

#tournament_content {
	width: calc(100% - 48px);
	margin-left: 26px;
	padding-top: 14vh;
}

h1.tournament_head {
	font-weight: 600;
	font-size: 28px;
	line-height: 40px;
	padding-bottom: 40px;
	position: relative;
}

.t_price {
	width: 100px;
	display: block;
	float: left;
	margin-right: 0px;
}

.t_price_pos {
	font-size: 13px;
	font-weight: 500;
	color: rgba(242, 246, 250, 0.55);
	display: block;
	margin-bottom: 8px;
}

.t_price_val {
	font-size: 20px;
	font-weight: 500;
	color: rgba(250,140,140,1);
}

p.tour_intro1, p.tour_intro2 {
	font-size: 32px;
	line-height: 58px;
	font-weight: 500;
	max-width: 1020px;
	margin-bottom: 40px;
}



.yare_ico_ilu {
	width: 68.8px;
	height: 22.4px;
}

.ico_eth_wrapper {
	width: 19.2px;
	height: 32px;
	margin-right: 8px;
	margin-left: 4px;
}

.eth_ico {
	width: 19.2px;
	height: 32px;
	display: inline-block;
	position: absolute;
	top: 4px;
}



#tournament_block {
	width: calc(100% - 48px);
	margin-left: 24px;
	height: 216px;
}

.tournament_banner_h {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	position: absolute;
	left: 26px;
	top: 72px;
	color: rgba(242, 246, 250, 1);
	width: 60%;
}

.tournament_banner_date {
	font-size: 16px;
	font-weight: 500;
	line-height: 32px;
	position: absolute;
	bottom: 26px;
	left: 26px;
	opacity: 0.55;
	color: rgba(242, 246, 250, 1);
	display: block;
}

.yare_ico_ilu_index {
	background: url(./asset/ico_yare_ilu.png) no-repeat scroll;
	background-size: cover;
	width: 43px;
	height: 13px;
	display: block;
	margin-bottom: 0;
	margin-left: 0;
	position: absolute;
	top: 28px;
	left: 26px;
	transform: none;
}

.yare_ico_ilu_blur_index {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(./asset/ico_yare_ilu_blur.png) no-repeat scroll;
	background-size: cover;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}




/* ----- */


#wg_replay {
    bottom: calc(116px + 4vw);
    left: 4vw;
    width: 92vw;
}

#wg_game_stats {
    bottom: 4vw;
    left: 4vw;
    width: 92vw;
    height: 106px;
}







}