* {
	padding: 0;
	margin: 0;
}


#tournament_content {
	width: 68%;
	max-width: 1200px;
	margin-left: 16%;
	padding-top: 24vh;
}

h1.tournament_head {
	font-weight: 500;
	font-size: 40px;
	line-height: 56px;
	padding-bottom: 60px;
}

.t_price {
	width: 212px;
	display: block;
	float: left;
	margin-right: 20px;
}

.t_price_pos {
	font-size: 20px;
	font-weight: 500;
	color: rgba(242, 246, 250, 0.55);
	display: block;
	margin-bottom: 8px;
}

.t_price_val {
	font-size: 32px;
	font-weight: 500;
	color: rgba(250,140,140,1);
}