* {
	padding: 0;
	margin: 0;
}

ul.no_bullet {
	list-style-type: none;
}

ul.no_bullet li {
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 44px;
	font-weight: 500;
	max-width: 1000px;
	margin-bottom: 12px;
}

ul.faq li {
	font-size: 20px;
	line-height: 40px;
	color: rgba(220, 188, 140, 1);
}

.para_faq {
	font-weight: 500;
	line-height: 36px;
	max-width: 1000px;
}

.bullet {
	position: absolute;
	left: -28px;
	opacity: 0.69;
}

#tournament_content {
	width: 68%;
	max-width: 1200px;
	margin-left: 16%;
	padding-top: 24vh;
}

h1.tournament_head {
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	padding-bottom: 60px;
	position: relative;
}

.t_price {
	width: 212px;
	display: block;
	float: left;
	margin-right: 20px;
}

.t_price_pos {
	font-size: 20px;
	font-weight: 500;
	color: rgba(242, 246, 250, 0.55);
	display: block;
	margin-bottom: 8px;
}

.t_price_val {
	font-size: 32px;
	font-weight: 500;
	color: rgba(250,140,140,1);
}

p.tour_intro1, p.tour_intro2 {
	font-size: 40px;
	line-height: 68px;
	font-weight: 500;
	max-width: 1020px;
	margin-bottom: 40px;
}

.quallight {
	color: rgba(220, 188, 140);
}





.tour_info_sec {
	
}

.tour_h_sec {
	font-size: 13px;
	font-weight: 400;
	color: rgba(242, 246, 250, 0.69);
	letter-spacing: 1px;
}

p.tour_p {
	font-size: 24px;
	font-weight: 500;
}




.yare_ico_ilu {
	background: url(./asset/ico_yare_ilu.png) no-repeat scroll;
	background-size: cover;
	width: 86px;
	height: 28px;
	display: block;
	margin-bottom: 20px;
	margin-left: -6px;
	position: relative;
}

.yare_ico_ilu_blur {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(./asset/ico_yare_ilu_blur.png) no-repeat scroll;
	background-size: cover;
	width: 400px;
	height: 400px;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

.ico_eth_wrapper {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 40px;
	margin-right: 8px;
	margin-left: 4px;
}

.eth_ico {
	background: url(./asset/ico_eth.png) no-repeat scroll;
	background-size: cover;
	width: 24px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 4px;
}


.qual_open_block {
	color: #9be0af;
	font-size: 22px;
	line-height: 38px;
	font-weight: 500;
	background-color: rgba(16, 34, 21, 1);
	display: inline-block;
	padding: 20px 24px 20px 24px;
	border-radius: 16px;
}

.qual_open_p {
	max-width: 940px;
}

.qual_closed_block {
	color: #baa;
	font-size: 20px;
	line-height: 38px;
	font-weight: 500;
	background-color: rgba(40, 20, 20, 1);
	display: inline-block;
	padding: 20px 24px 20px 24px;
	border-radius: 16px;
}

.qual_closed_p {
	max-width: 940px;
}

table.qualified_players, table.tour_timeline {
	font-size: 24px;
	line-height: 52px;
	font-weight: 500;
	color: rgba(242, 246, 250, 1);
	width: 100%;
	max-width: 1200px;
	border-collapse: collapse;
}

table.qualified_players tr {
	border-bottom: 1px solid rgba(242, 246, 250, 0.2);
}

.qual_order, .time_date {
	color: rgba(242, 246, 250, 0.69);
	width: 120px;
}

.qual_date {
	margin-right: 0px;
	text-align: right;
	color: rgba(242, 246, 250, 0.4);
}

p.t_continue {
	font-size: 24px;
	color: rgba(220, 188, 140, 1);
	font-weight: 500;
	margin: 20px 0;
}

p.game_time {
	font-size: 24px;
	font-weight: 500;
	margin: 20px 0;
	line-height: 40px;
	color: rgba(242, 246, 250, 0.69);;
}






