global
    maxconn 50000
    log stdout daemon
    
defaults
    mode http

frontend yare
    bind *:5000
    log global
    use_backend d1 if { path_beg /d1 }
    use_backend d2 if { path_beg /d2 }
    use_backend tutorial_server if { path_beg /t2 }
    default_backend main_server
    option httplog

backend main_server
    server main main:5000

backend d1
    server d1 d1:5000

backend d2
    server d2 d2:5000

backend tutorial_server
    server tutorial tutorial:5000
